### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [2]:
school_data.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [3]:
total_budget = school_data["budget"].sum()

In [4]:
school_data["budget"] = school_data["budget"].astype(float).map("${:,.2f}".format)
school_data["budget"] = total_budget

total_budget

24649428

In [5]:
# Rename columns for readability
school_data_renamed_df = school_data_complete_df.rename(columns={"student_name": "Student Name", "gender": "Gender", "grade": "Grade", "school_name": "School Name", "reading_score": "Reading Score", "math_score": "Math Score",  "type": "Type", "size": "Size", "budget": "Budget"})
#school_data_renamed_df.head()

In [6]:
# Organize the columns so they are in a more logical order
school_data_renamed_df = school_data_renamed_df[["Student ID","School Name", "Student Name", "Budget", "Math Score", "Reading Score"]]
school_data_renamed_df.head()

,Student ID,School Name,Student Name,Budget,Math Score,Reading Score
0,0,Huang High School,Paul Bradley,1910635,79,66
1,1,Huang High School,Victor Smith,1910635,61,94
2,2,Huang High School,Kevin Rodriguez,1910635,60,90
3,3,Huang High School,Dr. Richard Scott,1910635,58,67
4,4,Huang High School,Bonnie Ray,1910635,84,97

In [7]:
# Calculate the number of schools in the DataFrame
total_schools = len(school_data_renamed_df["School Name"].unique())

# Calculate the number of students in the DataFrame
total_students = len(school_data_renamed_df["Student ID"].unique())

# Calculate the average math score in the DataFrame
avg_math = school_data_renamed_df["Math Score"].mean()

# Calculate the average reading in the DataFrame
avg_reading = school_data_renamed_df["Reading Score"].mean()

In [8]:
passing_math = school_data_renamed_df[school_data_renamed_df["Math Score"] >= 70].count()
passing_reading = school_data_renamed_df[school_data_renamed_df["Reading Score"] >= 70].count()

In [9]:
# Calculate the % of students passing math in the DataFrame
passing_math_percentage = (passing_math["Student Name"] / total_students) * 100

# Calculate the % of students passing reading in the DataFrame
passing_reading_percentage = (passing_reading["Student Name"] / total_students) * 100

In [10]:
#passing_math_only = school_data_renamed_df.loc[school_data_renamed_df["Math Score"] >= 70]
#passing_reading_only = school_data_renamed_df.loc[school_data_renamed_df["Reading Score"] >= 70]
passing_math_and_reading = school_data_renamed_df.loc[(school_data_renamed_df["Math Score"] >= 70) & 
                                                      (school_data_renamed_df["Reading Score"] >= 70)].count()
passing_math_and_reading

Student ID       25528
School Name      25528
Student Name     25528
Budget           25528
Math Score       25528
Reading Score    25528
dtype: int64

In [11]:
# Calculate the % of students passing both math and reading in the DataFrame
overall_passing = (passing_math_and_reading["Student Name"] / total_students) * 100

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [12]:
# Creating a summary DataFrame using above values - {} means you're creating your own dictionary 
summary_table = pd.DataFrame({"Total Schools": total_schools,
"Total Students": [total_students],
"Total Budget": [total_budget],
"Average Math Score": [avg_math],
"Average Reading Score": [avg_reading],
"% Passing Math": [passing_math_percentage],
"% Passing Reading": [passing_reading_percentage],
"Overall Passing": [overall_passing]})
                             
summary_table

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [13]:
# PART TWO

In [14]:
# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
student_data_complete_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [15]:
# Rename columns for readability
student_data_complete_df = school_data_complete_df.rename(columns={"school_name": "School Name", 
                                                                   "type": "School Type", 
                                                                   "size": "Size", 
                                                                   "student_name": "Student Name", 
                                                                   "budget": "Budget", "math_score": "Math Score", 
                                                                   "reading_score": "Reading Score",})

In [16]:
# Set new index to school name 
student_data_complete_df = student_data_complete_df.set_index("School Name")
student_data_complete_df.head()

,Student ID,Student Name,gender,grade,Reading Score,Math Score,School ID,School Type,Size,Budget
School Name,,,,,,,,,,
Huang High School,0,Paul Bradley,M,9th,66,79,0,District,2917,1910635
Huang High School,1,Victor Smith,M,12th,94,61,0,District,2917,1910635
Huang High School,2,Kevin Rodriguez,M,12th,90,60,0,District,2917,1910635
Huang High School,3,Dr. Richard Scott,M,12th,67,58,0,District,2917,1910635
Huang High School,4,Bonnie Ray,F,9th,97,84,0,District,2917,1910635

In [17]:
student_data_complete_df["School Type"]

School Name
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
                        ...
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Name: School Type, Length: 39170, dtype: object

In [18]:
# Create a dataframe grouping schools by type
school_type = student_data_complete_df.groupby(["School Name"])
all_school_type = school_type["School Type"].unique()
all_school_type = all_school_type.str[0]
all_school_type.head()

School Name
Bailey High School      District
Cabrera High School      Charter
Figueroa High School    District
Ford High School        District
Griffin High School      Charter
Name: School Type, dtype: object

In [19]:
# Create a dataframe grouping all schools
school_group = student_data_complete_df.groupby(["School Name"])
all_schools = school_group.count() 
all_schools

,Student ID,Student Name,gender,grade,Reading Score,Math Score,School ID,School Type,Size,Budget
School Name,,,,,,,,,,
Bailey High School,4976,4976,4976,4976,4976,4976,4976,4976,4976,4976
Cabrera High School,1858,1858,1858,1858,1858,1858,1858,1858,1858,1858
Figueroa High School,2949,2949,2949,2949,2949,2949,2949,2949,2949,2949
Ford High School,2739,2739,2739,2739,2739,2739,2739,2739,2739,2739
Griffin High School,1468,1468,1468,1468,1468,1468,1468,1468,1468,1468
Hernandez High School,4635,4635,4635,4635,4635,4635,4635,4635,4635,4635
Holden High School,427,427,427,427,427,427,427,427,427,427
Huang High School,2917,2917,2917,2917,2917,2917,2917,2917,2917,2917
Johnson High School,4761,4761,4761,4761,4761,4761,4761,4761,4761,4761
Pena High School,962,962,962,962,962,962,962,962,962,962
Rodriguez High School,3999,3999,3999,3999,3999,3999,3999,3999,3999,3999
Shelton High School,1761,1761,1761,1761,1761,1761,1761,1761,1761,1761
Thomas High School,1635,1635,1635,1635,1635,1635,1635,1635,1635,1635
Wilson High School,2283,2283,2283,2283,2283,2283,2283,2283,2283,2283
Wright High School,1800,1800,1800,1800,1800,1800,1800,1800,1800,1800

In [20]:
# Create a dataframe grouping all students
school_group = student_data_complete_df.groupby(["School Name"])
all_students = school_group["Student ID"].count()
all_students.head()

School Name
Bailey High School      4976
Cabrera High School     1858
Figueroa High School    2949
Ford High School        2739
Griffin High School     1468
Name: Student ID, dtype: int64

In [21]:
school_group = student_data_complete_df.groupby(["School Name"])
school_group_budget = school_group["Budget"].mean() 
school_group_budget.head()

School Name
Bailey High School      3124928
Cabrera High School     1081356
Figueroa High School    1884411
Ford High School        1763916
Griffin High School      917500
Name: Budget, dtype: int64

In [22]:
# Calculate per student budget
school_group = student_data_complete_df.groupby(["School Name"])
school_group_budget = school_group["Budget"].mean() 
all_students = school_group["Student ID"].count()
per_student_budget = (school_group_budget / all_students)
per_student_budget.head()

School Name
Bailey High School      628.0
Cabrera High School     582.0
Figueroa High School    639.0
Ford High School        644.0
Griffin High School     625.0
dtype: float64

In [23]:
# Create a dataframe grouping schools
school_group_grades = student_data_complete_df.groupby(["School Name"])

# Calculate average math score
avg_math = school_group_grades["Math Score"].mean()

# Calculate average reading score 
avg_reading = school_group_grades["Reading Score"].mean()

In [24]:
passing_math_student = student_data_complete_df[student_data_complete_df["Math Score"] >= 70]
passing_reading_student = student_data_complete_df[student_data_complete_df["Reading Score"] >= 70]

In [25]:
passing_math_group = passing_math_student.groupby(["School Name"]) 
passing_math_count = passing_math_group["Math Score"].count()
passing_reading_group = passing_reading_student.groupby(["School Name"]) 
passing_reading_count = passing_reading_group["Reading Score"].count()

In [26]:
student_data_complete_df

,Student ID,Student Name,gender,grade,Reading Score,Math Score,School ID,School Type,Size,Budget
School Name,,,,,,,,,,
Huang High School,0,Paul Bradley,M,9th,66,79,0,District,2917,1910635
Huang High School,1,Victor Smith,M,12th,94,61,0,District,2917,1910635
Huang High School,2,Kevin Rodriguez,M,12th,90,60,0,District,2917,1910635
Huang High School,3,Dr. Richard Scott,M,12th,67,58,0,District,2917,1910635
Huang High School,4,Bonnie Ray,F,9th,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...
Thomas High School,39165,Donna Howard,F,12th,99,90,14,Charter,1635,1043130
Thomas High School,39166,Dawn Bell,F,10th,95,70,14,Charter,1635,1043130
Thomas High School,39167,Rebecca Tanner,F,9th,73,84,14,Charter,1635,1043130
Thomas High School,39168,Desiree Kidd,F,10th,99,90,14,Charter,1635,1043130
Thomas High School,39169,Carolyn Jackson,F,11th,95,75,14,Charter,1635,1043130

In [27]:
students_per_school = student_data_complete_df.index.value_counts()
students_per_school

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: School Name, dtype: int64

In [28]:
school_group_passing = student_data_complete_df.groupby(["School Name"]) 
passing_math_school = (passing_math_count / students_per_school) * 100
passing_reading_school = (passing_reading_count / students_per_school) * 100
passing_reading_school

Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

In [29]:
student_data_complete_df

,Student ID,Student Name,gender,grade,Reading Score,Math Score,School ID,School Type,Size,Budget
School Name,,,,,,,,,,
Huang High School,0,Paul Bradley,M,9th,66,79,0,District,2917,1910635
Huang High School,1,Victor Smith,M,12th,94,61,0,District,2917,1910635
Huang High School,2,Kevin Rodriguez,M,12th,90,60,0,District,2917,1910635
Huang High School,3,Dr. Richard Scott,M,12th,67,58,0,District,2917,1910635
Huang High School,4,Bonnie Ray,F,9th,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...
Thomas High School,39165,Donna Howard,F,12th,99,90,14,Charter,1635,1043130
Thomas High School,39166,Dawn Bell,F,10th,95,70,14,Charter,1635,1043130
Thomas High School,39167,Rebecca Tanner,F,9th,73,84,14,Charter,1635,1043130
Thomas High School,39168,Desiree Kidd,F,10th,99,90,14,Charter,1635,1043130
Thomas High School,39169,Carolyn Jackson,F,11th,95,75,14,Charter,1635,1043130

In [30]:
passing_math_and_reading_by_school = student_data_complete_df.loc[(student_data_complete_df["Math Score"] >= 70) & 
                                                      (student_data_complete_df["Reading Score"] >= 70)]
passing_math_and_reading_by_school

,Student ID,Student Name,gender,grade,Reading Score,Math Score,School ID,School Type,Size,Budget
School Name,,,,,,,,,,
Huang High School,4,Bonnie Ray,F,9th,97,84,0,District,2917,1910635
Huang High School,5,Bryan Miranda,M,9th,94,94,0,District,2917,1910635
Huang High School,6,Sheena Carter,F,11th,82,80,0,District,2917,1910635
Huang High School,8,Michael Roth,M,10th,95,87,0,District,2917,1910635
Huang High School,9,Matthew Greene,M,10th,96,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...
Thomas High School,39165,Donna Howard,F,12th,99,90,14,Charter,1635,1043130
Thomas High School,39166,Dawn Bell,F,10th,95,70,14,Charter,1635,1043130
Thomas High School,39167,Rebecca Tanner,F,9th,73,84,14,Charter,1635,1043130
Thomas High School,39168,Desiree Kidd,F,10th,99,90,14,Charter,1635,1043130
Thomas High School,39169,Carolyn Jackson,F,11th,95,75,14,Charter,1635,1043130

In [31]:
passing_both_by_school_group = passing_math_and_reading_by_school.groupby(["School Name"]).count()
passing_both_by_school = (passing_both_by_school_group["Math Score"] / students_per_school) * 100
passing_both_by_school

Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [32]:
school_group = student_data_complete_df.groupby(["School Name"])
school_group["Student ID"].count()
school_group.head()

,Student ID,Student Name,gender,grade,Reading Score,Math Score,School ID,School Type,Size,Budget
School Name,,,,,,,,,,
Huang High School,0,Paul Bradley,M,9th,66,79,0,District,2917,1910635
Huang High School,1,Victor Smith,M,12th,94,61,0,District,2917,1910635
Huang High School,2,Kevin Rodriguez,M,12th,90,60,0,District,2917,1910635
Huang High School,3,Dr. Richard Scott,M,12th,67,58,0,District,2917,1910635
Huang High School,4,Bonnie Ray,F,9th,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...
Thomas High School,37535,Norma Mata,F,10th,76,76,14,Charter,1635,1043130
Thomas High School,37536,Cody Miller,M,11th,84,82,14,Charter,1635,1043130
Thomas High School,37537,Erik Snyder,M,9th,80,90,14,Charter,1635,1043130
Thomas High School,37538,Tanya Martinez,F,9th,71,69,14,Charter,1635,1043130
Thomas High School,37539,Noah Erickson,M,9th,86,76,14,Charter,1635,1043130

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [33]:
# Create an overview table that summarizes key metrics about each school - groupby each school
school_group = pd.DataFrame({
"School Type": all_school_type,                         
"Total Students": all_students,
"Total School Budget": school_group_budget, 
"Per Student Budget": per_student_budget,                           
"Average Math Score": avg_math,
"Average Reading Score": avg_reading,
"% Passing Math": passing_math_school,
"% Passing Reading": passing_reading_school,
"% Overall Passing": passing_both_by_school})
school_group

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,90.333333

## Top Performing Schools (By % Overall Passing)

In [34]:
school_group = pd.DataFrame({
"School Type": all_school_type,                         
"Total Students": all_students,
"Total School Budget": school_group_budget, 
"Per Student Budget": per_student_budget,                           
"Average Math Score": avg_math,
"Average Reading Score": avg_reading,
"% Passing Math": passing_math_school,
"% Passing Reading": passing_reading_school,
"% Overall Passing": passing_both_by_school})
school_group

school_group_top = school_group.sort_values(["% Overall Passing"], ascending=False)
school_group_top.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,,,,,
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541

## Bottom Performing Schools (By % Overall Passing)

In [35]:
school_group = pd.DataFrame({
"School Type": all_school_type,                         
"Total Students": all_students,
"Total School Budget": school_group_budget, 
"Per Student Budget": per_student_budget,                           
"Average Math Score": avg_math,
"Average Reading Score": avg_reading,
"% Passing Math": passing_math_school,
"% Passing Reading": passing_reading_school,
"% Overall Passing": passing_both_by_school})
school_group

school_group_top = school_group.sort_values(["% Overall Passing"], ascending=True)
school_group_top.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,,,,,
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [36]:
# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [37]:
# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [38]:
# Combine the data into a single dataset.  
student_data_complete_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [39]:
# Rename columns for readability
student_data_complete_df = school_data_complete_df.rename(columns={"school_name": "School Name", "type": "School Type", "size": "Size", "student_name": "Student Name", "budget": "Budget", "math_score": "Math Score", "reading_score": "Reading Score",})

In [40]:
# Create a dataframe grouping all schools
school_group = student_data_complete_df.groupby(["School Name"])
all_schools = school_group.count()

In [41]:
# Create a dataframe grouping all students
school_group = student_data_complete_df.groupby(["School Name"])
all_students = school_group["Student ID"].count()

In [42]:
# Calculate budget
school_group = student_data_complete_df.groupby(["School Name"])
school_group_budget = school_group["Budget"].mean()

In [43]:
# Create a dataframe grouping schools
school_group_grades = student_data_complete_df.groupby(["School Name"])

# Calculate average math score
avg_math = school_group_grades["Math Score"].mean()

# Calculate average reading score 
avg_reading = school_group_grades["Reading Score"].mean()

In [44]:
#Calculate passing grades 

passing_math_student = student_data_complete_df[student_data_complete_df["Math Score"] >= 70]
passing_reading_student = student_data_complete_df[student_data_complete_df["Reading Score"] >= 70]

passing_math_group = passing_math_student.groupby(["School Name"]) 
passing_math_count = passing_math_group["Math Score"].count()
passing_reading_group = passing_reading_student.groupby(["School Name"]) 
passing_reading_count = passing_reading_group["Reading Score"].count()

student_data_complete_df

,Student ID,Student Name,gender,grade,School Name,Reading Score,Math Score,School ID,School Type,Size,Budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [45]:
students_per_school = student_data_complete_df.index.value_counts()

school_group_passing = student_data_complete_df.groupby(["School Name"]) 
passing_math_school = (passing_math_count / students_per_school) * 100
passing_reading_school = (passing_reading_count / students_per_school) * 100

student_data_complete_df

,Student ID,Student Name,gender,grade,School Name,Reading Score,Math Score,School ID,School Type,Size,Budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [46]:
passing_math_and_reading_by_school = student_data_complete_df.loc[(student_data_complete_df["Math Score"] >= 70) & (student_data_complete_df["Reading Score"] >= 70)]

passing_both_by_school_group = passing_math_and_reading_by_school.groupby(["School Name"]).count()
passing_both_by_school = (passing_both_by_school_group["Math Score"] / students_per_school) * 100

In [61]:
# Calculate per student budget
school_group_budget = school_group["Budget"].mean() 
all_students = school_group["Student ID"].count()
per_student_budget = (school_group_budget / all_students)
per_student_budget.head()

School Name
Bailey High School      628.0
Cabrera High School     582.0
Figueroa High School    639.0
Ford High School        644.0
Griffin High School     625.0
dtype: float64

In [54]:
bins = [0, 585, 630, 645, 700]
groups = ["<$584", "$585-629", "$630-644", "$645-675"]

In [62]:
pd.cut(per_student_budget["School Name"], bins, labels=groups, include_lowest=True).head()

KeyError: 'School Name'

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
#bins

In [ ]:
# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
student_data_complete_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [ ]:
# Rename columns for readability
student_data_complete_df = school_data_complete_df.rename(columns={"school_name": "School Name", 
                                                                   "type": "School Type", 
                                                                   "size": "Size", 
                                                                   "student_name": "Student Name", 
                                                                   "budget": "Budget", "math_score": "Math Score", 
                                                                   "reading_score": "Reading Score",})

In [ ]:
# Create a dataframe grouping schools
#school_group_grades = student_data_complete_df.groupby(["School Size"])

In [ ]:
# Calculate average math score
avg_math = school_group_grades["Math Score"].mean()

# Calculate average reading score 
avg_reading = school_group_grades["Reading Score"].mean()

## Scores by School Type

* Perform the same operations as above, based on school type

In [ ]:
#groupby

In [ ]:
# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
student_data_complete_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [ ]:
# Rename columns for readability
student_data_complete_df = school_data_complete_df.rename(columns={"school_name": "School Name", 
                                                                   "type": "School Type", 
                                                                   "size": "Size", 
                                                                   "student_name": "Student Name", 
                                                                   "budget": "Budget", "math_score": "Math Score", 
                                                                   "reading_score": "Reading Score",})

In [ ]:
# Create a dataframe grouping schools
#school_group_grades = student_data_complete_df.groupby(["School Type"])

In [ ]:
# Calculate average math score
avg_math = school_group_grades["Math Score"].mean()

# Calculate average reading score 
avg_reading = school_group_grades["Reading Score"].mean()