### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [2]:
school_data.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [3]:
total_budget = school_data["budget"].sum()

In [4]:
school_data["budget"] = school_data["budget"].astype(float).map("${:,.2f}".format)
school_data["budget"] = total_budget

total_budget

24649428

In [5]:
# Rename columns for readability
school_data_renamed_df = school_data_complete_df.rename(columns={"student_name": "Student Name", "gender": "Gender", "grade": "Grade", "school_name": "School Name", "reading_score": "Reading Score", "math_score": "Math Score",  "type": "Type", "size": "Size", "budget": "Budget"})
#school_data_renamed_df.head()

In [6]:
# Organize the columns so they are in a more logical order
school_data_renamed_df = school_data_renamed_df[["Student ID","School Name", "Student Name", "Budget", "Math Score", "Reading Score"]]
school_data_renamed_df.head()

,Student ID,School Name,Student Name,Budget,Math Score,Reading Score
0,0,Huang High School,Paul Bradley,1910635,79,66
1,1,Huang High School,Victor Smith,1910635,61,94
2,2,Huang High School,Kevin Rodriguez,1910635,60,90
3,3,Huang High School,Dr. Richard Scott,1910635,58,67
4,4,Huang High School,Bonnie Ray,1910635,84,97

In [7]:
# Calculate the number of schools in the DataFrame
total_schools = len(school_data_renamed_df["School Name"].unique())

# Calculate the number of students in the DataFrame
total_students = len(school_data_renamed_df["Student ID"].unique())

# Calculate the average math score in the DataFrame
avg_math = school_data_renamed_df["Math Score"].mean()

# Calculate the average reading in the DataFrame
avg_reading = school_data_renamed_df["Reading Score"].mean()

In [8]:
school_data_renamed_df[school_data_renamed_df["Math Score"] >= 70]

,Student ID,School Name,Student Name,Budget,Math Score,Reading Score
0,0,Huang High School,Paul Bradley,1910635,79,66
4,4,Huang High School,Bonnie Ray,1910635,84,97
5,5,Huang High School,Bryan Miranda,1910635,94,94
6,6,Huang High School,Sheena Carter,1910635,80,82
8,8,Huang High School,Michael Roth,1910635,87,95
...,...,...,...,...,...,...
39165,39165,Thomas High School,Donna Howard,1043130,90,99
39166,39166,Thomas High School,Dawn Bell,1043130,70,95
39167,39167,Thomas High School,Rebecca Tanner,1043130,84,73
39168,39168,Thomas High School,Desiree Kidd,1043130,90,99
39169,39169,Thomas High School,Carolyn Jackson,1043130,75,95

In [9]:
passing_math = school_data_renamed_df[school_data_renamed_df["Math Score"] >= 70].count()
#school_data_renamed_df.loc[school_data_renamed_df["Math Score"] >= 70]

In [10]:
passing_reading = school_data_renamed_df[school_data_renamed_df["Reading Score"] >= 70].count()

In [11]:
# Calculate the % of students passing math in the DataFrame
passing_math_percentage = (passing_math["Student Name"] / total_students) * 100

# Calculate the % of students passing reading in the DataFrame
passing_reading_percentage = (passing_reading["Student Name"] / total_students) * 100

# Calculate the % of students passing both math and reading in the DataFrame
overall_passing = ((passing_math["Student Name"] + passing_reading["Student Name"]) / total_students)

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [12]:
# Creating a summary DataFrame using above values - {} means you're creating your own dictionary 
summary_table = pd.DataFrame({"Total Schools": total_schools,
"Total Students": [total_students],
"Total Budget": [total_budget],
"Average Math Score": [avg_math],
"Average Reading Score": [avg_reading],
"% Passing Math": [passing_math_percentage],
"% Passing Reading": [passing_reading_percentage],
"Overall Passing": [overall_passing]})
                             
summary_table

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,1.607863

In [13]:
# PART TWO

In [14]:
# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
student_data_complete_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [15]:
school_budget = school_data["budget"].sum()
school_budget

24649428

In [16]:
# Rename columns for readability
student_data_complete_df = school_data_complete_df.rename(columns={"student_name": "Student Name", "grade": "Grade", 
"school_name": "School Name",
"reading_score": "Reading Score",
"math_score": "Math Score", 
"type": "School Type",
"size": "Size", 
"budget": "Budget"})

In [17]:
# Set new index to school name 
student_data_complete_df = student_data_complete_df.set_index("School Name")
student_data_complete_df.head()

,Student ID,Student Name,gender,Grade,Reading Score,Math Score,School ID,School Type,Size,Budget
School Name,,,,,,,,,,
Huang High School,0,Paul Bradley,M,9th,66,79,0,District,2917,1910635
Huang High School,1,Victor Smith,M,12th,94,61,0,District,2917,1910635
Huang High School,2,Kevin Rodriguez,M,12th,90,60,0,District,2917,1910635
Huang High School,3,Dr. Richard Scott,M,12th,67,58,0,District,2917,1910635
Huang High School,4,Bonnie Ray,F,9th,97,84,0,District,2917,1910635

In [18]:
# Create a dataframe grouping schools
school_group = student_data_complete_df.groupby(["School Name"])
all_schools = school_group.count() 
all_schools

,Student ID,Student Name,gender,Grade,Reading Score,Math Score,School ID,School Type,Size,Budget
School Name,,,,,,,,,,
Bailey High School,4976,4976,4976,4976,4976,4976,4976,4976,4976,4976
Cabrera High School,1858,1858,1858,1858,1858,1858,1858,1858,1858,1858
Figueroa High School,2949,2949,2949,2949,2949,2949,2949,2949,2949,2949
Ford High School,2739,2739,2739,2739,2739,2739,2739,2739,2739,2739
Griffin High School,1468,1468,1468,1468,1468,1468,1468,1468,1468,1468
Hernandez High School,4635,4635,4635,4635,4635,4635,4635,4635,4635,4635
Holden High School,427,427,427,427,427,427,427,427,427,427
Huang High School,2917,2917,2917,2917,2917,2917,2917,2917,2917,2917
Johnson High School,4761,4761,4761,4761,4761,4761,4761,4761,4761,4761
Pena High School,962,962,962,962,962,962,962,962,962,962
Rodriguez High School,3999,3999,3999,3999,3999,3999,3999,3999,3999,3999
Shelton High School,1761,1761,1761,1761,1761,1761,1761,1761,1761,1761
Thomas High School,1635,1635,1635,1635,1635,1635,1635,1635,1635,1635
Wilson High School,2283,2283,2283,2283,2283,2283,2283,2283,2283,2283
Wright High School,1800,1800,1800,1800,1800,1800,1800,1800,1800,1800

In [19]:
# Calculate the number of schools
#total_schools = student_data_complete_df["Budget"].sum()

# Calculate per student budget
total_budget = student_data_complete_df["Budget"].sum()
total_students = student_data_complete_df["Student ID"].count()
per_student_budget = total_students / total_budget

# Calculate average math score
avg_math = student_data_complete_df["Math Score"].mean()

# Calculate average reading score 
avg_reading = student_data_complete_df["Reading Score"].mean()

In [20]:
# Calculate passing math
student_data_complete_df[student_data_complete_df["Math Score"] >= 70]

passing_math_percentage = (passing_math["Student Name"] / total_students) * 100

In [21]:
#Calculate passing reading
student_data_complete_df[student_data_complete_df["Reading Score"] >= 70]

passing_reading_percentage = (passing_reading["Student Name"] / total_students) * 100

In [22]:
# Calculate overall passing
overall_passing = ((passing_math["Student Name"] + passing_reading["Student Name"]) / total_students) * 100

In [23]:
school_group["Student ID"].sum()

School Name
Bailey High School       101303896
Cabrera High School       31477307
Figueroa High School      12949059
Ford High School          99055935
Griffin High School       19077394
Hernandez High School     46090440
Holden High School         9846620
Huang High School          4252986
Johnson High School      154327815
Pena High School          22851829
Rodriguez High School    112111965
Shelton High School       11879706
Thomas High School        62705520
Wilson High School        33950493
Wright High School        45243900
Name: Student ID, dtype: int64

In [24]:
total_students = school_group["Student ID"].count()
total_students.head()

School Name
Bailey High School      4976
Cabrera High School     1858
Figueroa High School    2949
Ford High School        2739
Griffin High School     1468
Name: Student ID, dtype: int64

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [25]:
# Create an overview table that summarizes key metrics about each school - groupby each school
school_group = pd.DataFrame({
"Total Schools" : [total_schools], 
#School Type": [school_type],                            
"Total Students": [total_students],
"Total School Budget": [school_budget],
"Per Student Budget": [per_student_budget],                           
"Average Math Score": [avg_math],
"Average Reading Score": [avg_reading],
"% Passing Math": [passing_math_percentage],
"% Passing Reading": [passing_reading_percentage],
"Overall Passing": [overall_passing]})
school_group.head()

,Total Schools,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing
0,15,School Name Bailey High School 4976 Cabr...,24649428,4.723128e-07,78.985371,81.87784,74.980853,85.805463,160.786316

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

In [26]:
#bins

## Scores by School Type

* Perform the same operations as above, based on school type

In [27]:
#groupby