### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [2]:
# Rename columns for readability
school_data_renamed_df = school_data_complete_df.rename(columns={"student_name": "Student Name", "gender": "Gender", "grade": "Grade", "school_name": "School Name", "reading_score": "Reading Score", "math_score": "Math Score",  "type": "Type", "size": "Size", "budget": "Budget"})
school_data_renamed_df.head()

,Student ID,Student Name,Gender,Grade,School Name,Reading Score,Math Score,School ID,Type,Size,Budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [3]:
# Drop all rows with missing information
#school_data_renamed_df = school_data_renamed_df.dropna(how='any')
#school_data_renamed_df.head()

In [4]:
# Organize the columns so they are in a more logical order
school_data_renamed_df = school_data_renamed_df[["Student ID",
                                                 "School Name", 
                                                 "Student Name",
                                                 "Budget",
                                                 "Math Score",
                                                 "Reading Score"]]
school_data_renamed_df.head()

,Student ID,School Name,Student Name,Budget,Math Score,Reading Score
0,0,Huang High School,Paul Bradley,1910635,79,66
1,1,Huang High School,Victor Smith,1910635,61,94
2,2,Huang High School,Kevin Rodriguez,1910635,60,90
3,3,Huang High School,Dr. Richard Scott,1910635,58,67
4,4,Huang High School,Bonnie Ray,1910635,84,97

In [5]:
# Calculate the number of schools in the DataFrame
total_schools = len(school_data_renamed_df["School Name"].unique())

# Calculate the number of students in the DataFrame
total_students = len(school_data_renamed_df["Student ID"].unique())

# Calculate the total budget in the DataFrame
total_budget = round(school_data_renamed_df["Budget"].sum(), 2)

# Calculate the average math score in the DataFrame
avg_math = school_data_renamed_df["Math Score"].mean()

# Calculate the average reading in the DataFrame
avg_reading = school_data_renamed_df["Reading Score"].mean()

# Calculate the % of students passing math in the DataFrame - using loc
#passing_math = school_data_renamed_df.loc[df["avg_math"] >= "70" : , "Math Score" ,:]/school_data_renamed_df["total_students"]

# Calculate the % of students passing reading in the DataFrame - using loc 
#passing_reading = school_data_renamed_df['avg_reading']/school_data_renamed_df['total_students']

# Calculate the % of students passing both math and reading in the DataFrame
#overall_passing = len(school_data_renamed_df["Budget"].unique())

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [6]:
# Creating a summary DataFrame using above values - {} means you're creating your own dictionary 
summary_df = pd.DataFrame({"Total Schools": [total_schools],
"Total Students": [total_students],
"Total Budget": [total_budget],
"Average Math Score": [avg_math],
"Average Reading Score": [avg_reading],})
#"% Passing Math": [passing_math],
#"% Passing Reading": [passing_reading],
#"Overall Passing": [overall_passing]
summary_df.head()

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score
0,15,39170,82932329558,78.985371,81.87784

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

In [7]:
#groupby

## Scores by School Type

* Perform the same operations as above, based on school type

In [8]:
#groubpy